/* Error: Undefined mixin.
 *    ,
 * 11 | /     @include tablet {
 * 12 | |       grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
 * 13 | |       gap: 20px;
 * 14 | \     }
 *    '
 *   Services.scss 11:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c      @include tablet {\a 12 \2502  \2502        grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));\a 13 \2502  \2502        gap: 20px;\a 14 \2502  \2514      }\a    \2575 \a   Services.scss 11:5  root stylesheet";
}
