.how-it-works {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @include hd1440 {
      column-gap: 24px;
    }

    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }

  &__item {
    max-width: 288px;
    height: 166px;
    width: 100%;
    padding: 16px;
    border-radius: var(--border-radius);
    border: var(--border);
    position: relative;

    @include hd1440 {
      height: 190px;
    }

    @include desktop {
      height: 210px;
    }

    @include mobile {
      max-width: 100%;
      height: auto;
    }

    &::after {
      content: "";
      display: block;
      width: 41px;
      height: 2px;
      background: var(--color-accent);
      position: absolute;
      right: -41px;
      top: 50%;
      transform: translateY(-50%);
      opacity: .6;

      @include hd1440 {
        width: 25px;
        right: -25px;
      }

      @include tablet {
        display: none;
      }
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    &::after {
      content: "";
      display: block;
      background: var(--color-accent);
      width: 120px;
      height: 4px;
      border-radius: var(--border-radius);
      margin-block: 8px;
    }
  }

  &__stage {
    opacity: .6;
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: 8px;

    @include desktop {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }

    &-icon {
      @include desktop {
        display: none;
      }

      @include tablet {
        display: block;
      }

      @include mobile {
        width: 16px;
        height: 16px;
      }
    }
  }


  &__body {
    max-width: 256px;
    opacity: .6;

    @include hd1440 {
      max-width: 170px;
    }

    @include mobile {
      max-width: 100%;
    }
  }
}