$full-screen-above: 1921px;
$full-screen: 1919px;

$hd1440-above: 1441px;
$hd1440: 1440px;


$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;


@mixin full-screen-above {
  @media (min-width: $full-screen-above) {
    @content;
  }
}

@mixin full-screen {
  @media (max-width: $full-screen) {
    @content;
  }
}

@mixin hd1440 {
  @media (max-width: $hd1440) {
    @content;
  }
}

@mixin hd1440-above {
  @media (min-width: $hd1440-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

